# Directories
**/.vs/
**/bin/
!vendor/premake/bin/
**/bin-int/
**/peda-session*
**/node_modules/

# Files
*.user
**/*.TMP
**/*.xcodeproj
**/*.xcworkspace

**/.DS_Store

#Hazel Files

**/imgui.ini

**/logs/

**/*.hzp.json


#MSVC
**/*.sln
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters

#make
**/Makefile
**/.project
**/.workspace
**/Makefile
**/CMakeLists.txt

**/.gdb_history

#Eclipse
**/.cproject
.settings/


#Android
**/AndroidManifest.xml
.modules
**/build.gradle

