[submodule "Hazel/vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/TroyNeubauer/imgui.git
	branch = docking
[submodule "Hazel/vendor/GLFW"]
	path = vendor/GLFW
	url = https://github.com/TroyNeubauer/glfw.git
	branch = master
[submodule "Hazel/vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/TroyNeubauer/spdlog.git
[submodule "Hazel/vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
	branch = stable
[submodule "Hazel/vendor/FastNoiseSIMD"]
	path = vendor/FastNoiseSIMD
	url = https://github.com/TroyNeubauer/FastNoiseSIMD.git
[submodule "Hazel/vendor/TUtil"]
	path = vendor/TUtil
	url = https://github.com/TroyNeubauer/TUtil.git
[submodule "Hazel/vendor/Box2D"]
	path = vendor/Box2D
	url = https://github.com/TroyNeubauer/Box2D.git
[submodule "Hazel/vendor/LabSound"]
	path = vendor/LabSound
	url = https://github.com/LabSound/LabSound.git
[submodule "vendor/premake/scripts/emscripten"]
	path = vendor/premake/scripts/emscripten
	url = https://github.com/TroyNeubauer/premake-emscriptenplatform.git
