# Directories
**/.vs/
**/bin/
**/bin-int/

# Files
*.user

Sandbox/imgui.ini
Sandbox/imgui_log.txt
Sandbox/test.dat
Sandbox/1page.dat
Sandbox/logs/

Sandbox/pics/
Sandbox/pics - OLD/
Sandbox/pics.zip

**/*.sln
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters

#make
**/.project
**/.workspace